/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */


div.slide {
  background-color: #FA6900;
  background-color: #E0E4CC;
}

.slide h1, h2, h3, li, p {
  color: #4A4A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 3.5em;
}

.slide content magicfs {
  font-size: 55px;
}

pre.sh_sourceCode {
  background: transparent;
}

.medcode pre {
  font-size: 50px;
}

.bigcode pre {
  font-size: 60px;
}

.smallcode pre {
  font-size: 28px;
}

.medsmallcode pre {
  font-size: 45px;
}

.ralph img {
  width: 600px;
  margin-top: -300px;
}

.chadtweet img {
  width: 990px;
  margin-left: -14px;
  margin-top: -180px;
}

.mindblown img {
  width: 600px;
  margin-top: -300px;
}

.grammie img {
  margin-top: -360px;
  margin-left: -32px;
}
